/* .nav-container {
} */

ul {
  background: #1F1B24;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  height: 4vh;
}

.link-item {
  display: inline-flex;
  margin-right: 10px;
}

.link {
  color: white;
  text-align: center;
  text-decoration: none;
}

.github-logo {
  background: black;
  height: 24px;
  border: 2px solid black;
  border-radius: 20px;
  position: absolute;
  /* top: 1%; */
}